/target/

# Eclipse Project Files

.classpath
.metadata/
.project
.settings/
logs/
.git/

# Idea Project Files
.classpath
.project
.settings/
target/
*.class
.idea/
test-output/
*.log

# Package Files #
*.jar
*.war
*.ear
*.iml
/bin/
